<div class="update">
    <h1><%= title %></h1>
    <div class="update-content">
        <form action="/update" method="POST">
            <label for="id" id="for-id">ID</label>
            <input type="text" placeholder="ID" name="id" value="<%= id %>" id="for-id">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" name="name" value="<%= contact.name %>">
            <label for="number">Contact Number</label>
            <input type="text" placeholder="Number" name="number" value="<%= contact.number %>">
            <label for="email">Email Address</label>
            <input type="email" placeholder="Email" name="email" value="<%= contact.email %>">
            <button type="submit">Update</button>
        </form>
        <div class="additional-btn">
            <a href="/delete/<%= contact._id%>">Delete</a>
            <a href="/contact-list">Cancel</a>
        </div>
    </div>
</div>